allow thermal-engine sysfs_batteryinfo:dir search;
allow thermal-engine sysfs_batteryinfo:file rw_file_perms;
allow thermal-engine sysfs:dir { read open };
