on init
    # Disable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 0
    write /sys/module/lpm_levels/parameters/sleep_disabled Y

    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all /vendor/etc/fstab.qcom

    # Set permissions for persist partition
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/bluetooth 0770 bluetooth bluetooth
    mkdir /mnt/vendor/persist/bms 0700 root system
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/display 0770 system graphics
    mkdir /mnt/vendor/persist/hvdcp_opti 0770 root system
    mkdir /mnt/vendor/persist/time 0770 system system
    restorecon_recursive /mnt/vendor/persist

on late-fs
    # boot time fs tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256

on post-fs
    start vendor.qseecomd

on post-fs-data
    # Create directory for tftp
    mkdir /data/vendor/tombstones 0771 system system

    # Create folder for mm-qcamera-daemon
    mkdir /data/misc/camera 0770 camera camera
    mkdir /data/vendor/camera 0770 camera camera

    # Create directory used by audio subsystem
    mkdir /data/vendor/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/vendor/misc/audio/acdbdata 0770 media audio
    mkdir /data/vendor/misc/audio/acdbdata/delta 0770 media audio

    # SSC/SLPI sensors
    #mkdir /persist/sensors
    chown root system /persist/sensors
    chmod 0775 /persist/sensors
    chown root system /persist/sensors/sensors_settings
    chmod 0664 /persist/sensors/sensors_settings
    chown root system /persist/sensors/sns.reg
    chmod 0664 /persist/sensors/sns.reg
    chown root system /persist/PRSensorData.txt
    chmod 0660 /persist/PRSensorData.txt
    chown root system /persist/PSensor3cm_ct.txt
    chmod 0660 /persist/PSensor3cm_ct.txt

    # /dev/sensors only supports an ioctl to get the current SLPI timestamp;
    # allow the sensors daemon to perform this as non-root
    chown root system /dev/sensors
    chmod 0660 /dev/sensors

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

on early-boot
    # SSR setup
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys4/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys5/restart_level "related"

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Access permission for fingerprint
    chown system system /sys/devices/soc/soc:fpc_fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc_fpc1020/enable_key_events
    chown system system /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup
    chown system system /sys/devices/soc/soc:fpc_fpc1020/proximity_state

    # Access permission for secure touch
    chmod 0660 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chmod 0440 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch

    # Access permission for smartPA
    chmod 0666 /dev/i2c-3
    chmod 0666 /dev/i2c-9

    mkdir /persist/drm 0770 system system
    mkdir /persist/misc 0770 system system
    mkdir /persist/alarm 0770 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/qc_senseid 0700 system system
    mkdir /persist/wlan_bt 0770 system system
    mkdir /persist/audio 0777 media audio

    # LED torch permissions
    chmod 0666 /sys/class/leds/led:torch_0/brightness
    chmod 0666 /sys/class/leds/led:torch_1/brightness
    chmod 0666 /sys/class/leds/led:switch/brightness

    # Graphic node permissions
    chown system graphics /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/msm_cmd_autorefresh_en

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

on property:sys.boot_completed=1
    # Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 1

    # end boot time fs tune
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128

    # Set I/O scheduler
    setprop sys.io.scheduler "bfq"

    # Update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/restricted/cpus 0-1

on charger
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    # Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 1
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/parameters/enabled "N"
    start vendor.hvdcp_opti
    start thermal-engine

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service time_daemon /vendor/bin/time_daemon
    class main
    user system
    group system
    capabilities SYS_TIME
    writepid /dev/cpuset/system-background/tasks

# Start camera server as daemon
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

# Start up peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

service readfem /vendor/bin/readfem
    class main
    user root
    group root oem_2901
    oneshot

service readmac /vendor/bin/readmac
    class main
    user system
    group system net_raw
    oneshot

service thermal-engine /vendor/bin/thermal-engine -c ${sys.qcom.thermalcfg:-/vendor/etc/thermal-engine-8996.conf}
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group system root diag
    writepid /dev/cpuset/system-background/tasks

service adsprpcd /vendor/bin/adsprpcd
    class main
    user media
    group media

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /vendor/bin/ims_rtp_daemon
    class main
    user system
    group radio diag inet log

service vendor.imsrcsservice /vendor/bin/imsrcsd
    class main
    user system
    group radio diag inet log
    writepid /dev/cpuset/system-background/tasks

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon

service ppd /vendor/bin/mm-pp-dpps
    class hal
    user system
    group system graphics
    socket pps stream 0660 system system

on property:init.svc.surfaceflinger=restarting
    stop vendor.hwcomposer-2-1
    start vendor.hwcomposer-2-1

on property:slpi.restart=1
    write /sys/kernel/debug/msm_subsys/slpi restart

service charger /sbin/chargeonlymode
    class charger
    group system graphics
    seclabel u:r:healthd:s0

service energy-awareness /vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock
