on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all /vendor/etc/fstab.qcom

    # Set permissions for persist partition
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    restorecon_recursive /mnt/vendor/persist

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    start vendor.qseecomd

on post-fs-data
    # Create folder for mm-qcamera-daemon
    mkdir /data/vendor/qcam 0770 camera camera

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/vendor/hbtp 0750 system system

on early-boot
    # SSR setup
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys4/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys5/restart_level "related"

    start vendor.qseecomd
    wait_for_prop vendor.sys.listeners.registered true
    write /dev/ipa 1

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # add a cpuset for the camera daemon
    # we want little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-1
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Create an stune group for the camera-daemon
    mkdir /dev/stune/camera-daemon
    chown system system /dev/stune/camera-daemon
    chown system system /dev/stune/camera-daemon/tasks
    chmod 0660 /dev/stune/camera-daemon/tasks

    # Access permission for fingerprint
    chown system system /sys/devices/soc/soc:fpc_fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc_fpc1020/enable_key_events
    chown system system /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup
    chown system system /sys/devices/soc/soc:fpc_fpc1020/proximity_state

    # Access permission for secure touch
    chmod 0660 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chmod 0440 /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch_enable
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/secure_touch

    # Access permission for smartPA
    chmod 0666 /dev/i2c-3
    chmod 0666 /dev/i2c-9

    mkdir /persist/alarm 0770 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/qc_senseid 0700 system system
    mkdir /persist/wlan_bt 0770 system system
    mkdir /persist/audio 0777 media audio

    # LED torch permissions
    chmod 0666 /sys/class/leds/led:torch_0/brightness
    chmod 0666 /sys/class/leds/led:torch_1/brightness
    chmod 0666 /sys/class/leds/led:switch/brightness

    # Graphic node permissions
    chown system graphics /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/idle_state
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chmod 0444 /sys/class/graphics/fb0/idle_state
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/msm_cmd_autorefresh_en

    write /sys/class/graphics/fb0/idle_time 100

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # Battery charging knob
    chown system system /sys/class/power_supply/battery/charging_enabled

on property:sys.boot_completed=1
    # Enable GPU powersaving
    write /sys/class/kgsl/kgsl-3d0/bus_split 1
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0

    # Update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-1

    # Tune vm
    write /proc/sys/vm/vfs_cache_pressure 80
    write /proc/sys/vm/user_reserve_kbytes 0
    write /proc/sys/vm/admin_reserve_kbytes 0

    # Let the magic happen
    setprop vendor.powerhal.init 1

on charger
    start vendor.hvdcp_opti
    setprop sys.usb.configfs 1

    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    chmod 0666 /sys/class/leds/red/brightness
    chmod 0666 /sys/class/leds/green/brightness
    chmod 0666 /sys/class/leds/blue/brightness

    start thermal-engine

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# Start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

# Start up peripheral manager
service vendor.per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system net_raw
    ioprio rt 4
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

service thermal-engine /system/vendor/bin/thermal-engine -c ${sys.qcom.thermalcfg:-/vendor/etc/thermal-engine-8996.conf}
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group root system
    writepid /dev/cpuset/system-background/tasks

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media
    writepid /dev/cpuset/system-background/tasks

service vendor.imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service vendor.imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log
   writepid /dev/cpuset/system-background/tasks

service vendor.imsrcsservice /system/vendor/bin/imsrcsd
   class main
   user system
   group radio diag inet log wakelock
   writepid /dev/cpuset/system-background/tasks

on property:vendor.ims.DATA_DAEMON_STATUS=1
    restart vendor.ims_rtp_daemon

service ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service vendor.charger /system/vendor/bin/chargeonlymode
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:vendor_charger:s0

service vendor.hvdcp_opti /system/vendor/bin/hvdcp_opti
   class main
   user root
   group system wakelock
   writepid /dev/cpuset/system-background/tasks

service bt-sh /system/vendor/bin/init.bt.sh
    class main
    user bluetooth
    group bluetooth
    oneshot
